{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Change{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('fwiki.index') }}">Home</a>
    {% endif %}
{% endblock %}

{% block content %}
    <article class="post">
        <header>
            <div>
                <label>Book:</label></br>
                <select>
                    {% for eText in entry %}
                        <option>{{ eText }}</option>
                    {% endfor %}
                </select>
                </br>
                <label>Chapter number:</label></br>
                <input type="text" name="Chapter" id="Chapter">{{ request.form['Chapter'] }}</input></br>
                <button><a class="action" href="{{ url_for('fwiki.changeReadTo', id=entry['id']) }}">Change</a></button>
            </div>
        </header>
        {#      <p class="body">{{ entry['title'] }}</p>#}
    </article>
{% endblock %}