{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Topics{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('fwiki.index') }}">Home</a>
    {% endif %}
{% endblock %}

{% block content %}
    <article class="post">
        <header>
            <div>
                <h1>{{ entry['title'] }}</h1>
                <div class="about">by {{ entry['id'] }} on {{ entry['lastModified'].strftime('%Y-%m-%d') }}</div>
                <ul>
                    {% for eText in info %}
                        <li>{{ eText }}</li>
                        <form action="{{ url_for('fwiki.deleteEntryData', entryText=eText) }}" method="post">
                            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                        </form>
                    {% endfor %}
                </ul>
                <a class="action" href="{{ url_for('fwiki.update', id=entry['id']) }}">Edit</a>
            </div>
        </header>
    </article>
{% endblock %}