{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ entry['title'] }}"{% endblock %}</h1>
    <a class="action" href="{{ url_for('fwiki.index') }}">Home</a>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Book Title</label>
    <input name="title" id="title"
      value="{{ request.form['bookTitle'] }}" required>
    <label for="title">Chapter Number</label>
    <input name="title" id="title"
      value="{{ request.form['chapterNumber'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['entryText']}}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('fwiki.delete', id=entry['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}